# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
target/rust-analyzer/flycheck0
node_modules
dist
dist-ssr
*.local
target/
!target/release/bundle/msi
# Editor directories and files
.vscode
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
