# Logs
.vscode
.idea
.DS_Store
.vscode/
*.log
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
target/
target/debug/
target/rust-analyzer/
target/release/
!target/release/bundle/
gen/
